div{
    height: 200px;
    width: 200px;
   border-width: 2px;
   border-color: red;
   border-style: solid;
   border-radius: 3px;
   padding-left: 10px;
   padding-right: 20px;
}

h1{
   border:3px dotted blue;
   /* border-top: 5px solid red; */
   /* border-radius: 50%; */
   padding-left: 50%;
   padding-top: 10px;
   
}

button{
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
   margin: auto;
    border-radius: 4px;
}