h1{
    border: 2px solid;
    text-align: left;
}
h2{
    border: 2px solid;
    text-align: right;
}
h3{
    border: 2px solid;
    text-align: center;
}
p{
    border: 2px solid;
    text-align: justify;
}
h4{
    border: 2px solid;
    width: 50%;
    text-align: center;
}
h5{
    text-align: end;
}
